<h1><%= @user.name %></h1>

<h2>lists</h2>
<ul>
<li>stories</li>
<li>additions</li>
</ul>

<% if @stories %>
  <h3>stories</h3>
  <% @stories.each do |story| %>
  <h4><%= story.title %></h4>
  <% end %>
<% end %>

<% if @additions %>
  <h3>additions</h3>
  <% @additions.each do |addition| %>
  <h4><%= addition.content %></h4>
  <% end %>
<% end %>

<h2>counts</h2>
<ul>
<li>stories: <%= @story_count %></li>
<li>additions: <%= @addition_count %></li>
<li>winning additions: <%= @winning_additions_count if @winning_additions_count %></li>
<li>votes <%= @total_votes if @total_votes %></li>
<li>total votes / additions <%=@total_votes%>/<%=@addition_count%> : <%= (@total_votes.to_i / @addition_count.to_f * 100).round(2) %>%</li>
</ul>