
<div id="stats">
  <h1><%= @user.name %></h1>
  <ul>
    <li><h2>stories</h2><span><%= @story_count %></span></li>
    <li><h2>additions</h2><span><%= @addition_count %></span></li>
    <li><h2>winning additions</h2><span><%= @winning_additions_count if @winning_additions_count %></span></li>
    <li><h2>votes</h2><span><%= @total_votes if @total_votes %></span></li>
    <li><h2>average</h2><span><%= (@total_votes.to_i / @addition_count.to_f).round(2) %></span></li>
  </ul>
</div>

<ul id="tabs">
      <li><a id="tab1">stories</a></li>
      <li><a id="tab2">additions</a></li>
</ul>
    <div class="container" id="tab1C">
    <% if @stories %>
      <% @stories.each do |story| %>
        <h4><%= link_to story.title, story_path(story) %></h4>
      <% end %>
    <% end %>
  </div>
  <div class="container" id="tab2C">
    <% if @additions %>
      <% @additions.each do |addition| %>
        <h4><%= addition.content %></h4>
      <% end %>
    <% end %>
  </div>

