  <div id="recent-stories-carrousel">
    <ul class="rslides" id="slider1">
      <% @stories.each do |story| %>
      <li><h1><%= link_to story.title, story_path(story) %></h1><p class="intro"><%= truncate(story.content, :length => 250, :separator => ' ') %></p><p class="author"><% author = User.find(story.user_id) %>
        <%= author.name %>
      </p></li>
      <% end %>
    </ul>

  </div>

  <div id="home-page-info">
    <div><span class="icon-pencil info-font-size"></span><h2><%= link_to "start a story", new_story_path %></h2><p>Got a great idea for a story? Start a story and see where the community takes it. Control how and when people add.</p></div>
    <div><span class="icon-sitemap info-font-size"></span><h2><%= link_to "add to a story", stories_path %></h2><p>Love writing but not sure where to start? Read through other users' stories and add something special to a story-line already created.</p></div>
  </div>
  <div id="home-latest">
    <ul>
      <% @stories.each do |story| %>
      <li><h2 class="title"><%= link_to story.title, story_path(story) %></h2><p class="intro"><%= truncate(story.content, :length => 200, :separator => ' ') %></p><p class="author"><% author = User.find(story.user_id) %>
        <%= author.name %>
      </p></li>
      <% end %>
    </ul>
  </div>

  <div id="home-categories">

    <ul>
      <li><span class="icon-bookmark-empty"></span><a href="#">popular</a></li>
      <li><span class="icon-calendar"></span><a href="#">recent</a></li>
      <li><span class="icon-group"></span><a href="#">active</a></li>
      <li><span class="icon-search"></span><a href="#">search</a></li>
    </ul>
  </div>

  <div id="call-to-action">
    <h2>Got an idea?</h2>
    <p>Why don't you start or add to a story...</p>

    <% if current_user %>
      <%= link_to "start a story", new_story_path %>
      <%= link_to "add to a story", stories_path %>
    <% else %>
      <%= link_to "login", "/auth/facebook", id: "sign_in" %>
    <% end %>



  </div>

