<% if current_user %>

  <%= form_for(@story) do |f| %>

      <%= f.label :title %><br />
      <%= f.text_field :title %>

      <%= f.label :content %><br />
      <%= f.text_area :content %>

      <%= f.submit %>
    <%end%>

<% else %>

<h2>Please log in to add a story.</h2>

<% end %>


