<head>
  <meta name="google-translate-customization" content="56cf874ac5cbe177-6847220fb1802f82-g32bdc62ab1551795-14"></meta>
</head>

<div id="story-intro">
  <h1><%= @story.title %></h1>
  <div id="story-details">
    <span>Created by <%= User.find(@story.user_id).name %> <%=time_ago_in_words(@story.created_at) %> ago</span>
  </div>
  <div id="story-content"><%= @story.content %></div>
</div>

<% @successful_additions.each do |addition| %>
  <div class="successful-addition"><p><%= addition.content %></p></div>
<% end %>

<% if @last_round.winner_id == nil %>
<div id="current-round">
  <h2>Current round</h2>
  <ul id="additions" style="margin-top: 40px">

  <% @additions.each do |addition| %>
    <li class="current_addition">
      <div><%= addition.content %></div>
      <div>Votes <%= addition.votes_for %></div>


    <% if current_user %>
    <div>
      <% unless current_user.voted_on?(addition) %>
          <%= link_to 'Up Vote', vote_true_addition_path(addition) %>
      <% end %>
      </div>
    <% end %>

        <% if current_user && @story.user_id == current_user.id %>
          <%= form_tag addition.round, method: "put" do %>
            <input type="hidden" name="addition_id" value="<%= addition.id %>">
            <input type="hidden" name="story_id" value="<%= @story.id %>">
            <input type="submit" name="winner" value="winner">
          <% end %>
        <% end %>
    </li>
  <% end %>
  </ul>
<% end %>
</div>
<% if current_user %>
  <%= render "additions/form" %>
<% else %>
  <h2 id="log-in-to-continue-story">Please log in to vote or continue the story</h2>
<% end %>

  <div>
    <div id="google_translate_element"></div><script type="text/javascript">
      function googleTranslateElementInit()
      {
      new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'cy,iw,la,yi,zh-CN', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, autoDisplay: false}, 'google_translate_element');
      }
      </script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
  </div>
