
<p><%=render 'story'%></p>


<% @successful_additions.each do |addition| %>
  <p><%= addition.content %></p>
<% end %>

<% if @last_round.winner_id == nil %>

  <ul id="additions" style="margin-top: 40px">
  <% @additions.each do |addition| %>
    <li>
      <div><%= addition.content %></div>
      <div> Likes <%= addition.votes_for %></div>

      <div><% unless current_user.voted_on?(addition) %>
            <%= link_to 'Up Vote', vote_true_addition_path(addition) %>
           <% end %></div>

        <% if current_user && @story.user_id == current_user.id %>
          <%= form_tag addition.round, method: "put" do %>
            <input type="hidden" name="addition_id" value="<%= addition.id %>">
            <input type="hidden" name="story_id" value="<%= @story.id %>">
            <input type="submit" name="winner" value="winner">
          <% end %>
        <% end %>
    </li>
  <% end %>
  </ul>
<% end %>

<% if current_user %>
  <%= render "additions/form" %>
<% else %>
  <h2>Please log in to add an addition.</h2>
<% end %>
