<!doctype html>
<html>
<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "story-tree" %></title>
    <%= favicon_link_tag image_path("favicon.ico") %>
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
</head>
<body>
  <header>
    <h1 id="logo"><img src= "/assets/story_tree_logo_transparent.png"/> story-tree</h1>
    <nav>
      <ul>
        <li class="mobile-hide"><%= link_to 'home', root_url %></li>
        <li class="mobile-hide"><%= link_to 'stories', stories_path %></li>
        <li class="mobile-hide"><%= link_to 'users', users_path %></li>
        <li class="mobile-hide"><a href='/about'>about</a></li>
        <% if current_user %>
          <li>Signed in as <strong><%= current_user.name %></strong>
          <%= link_to "log out", signout_path, id: "sign_out" %></li>
        <% else %>
          <li class="icon-facebook-sign"> <%= link_to "login", "/auth/facebook", id: "sign_in" %></li>
        <% end %>
      </ul>
    </nav>
  </header>

  <%= yield %>

    <footer>

  <nav>
      <ul id="footer">
        <li class="mobile-hide"><%= link_to 'home', root_url %></li>
        <li class="mobile-hide"><%= link_to 'stories', stories_path %></li>
        <li class="mobile-hide"><%= link_to 'users', users_path %></li>
        <li class="mobile-hide"><a href='/about'>about</a></li>
        <% if current_user %>
          <li>Signed in as <strong><%= current_user.name %></strong>
          <%= link_to "log out", signout_path, id: "sign_out" %></li>
        <% else %>
          <li class="icon-facebook-sign"> <%= link_to "login", "/auth/facebook", id: "sign_in" %></li>
        <% end %>
      </ul>
    </nav>
  </footer>
</body>
</html>
